.book-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 250px;
    max-width: 360px;
    height: 420px;
    max-height: 450px;
    text-align: center;
    padding: 5px;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-image {
    width: 100%;
    max-height: 240px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.book-details {
    padding: 4px;
    max-width: 100%;
    max-height: 150px;
}

.book-title {
    font-size: 14px;
    font-weight: bold;
    color: #232323;
}

.book-author,
.book-genre,
.book-price {
    font-size: 11px;
    color: #4f4d4d;
    margin: 3px;
}

.book-actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.buy-now,
.add-to-cart {
    flex: .7;
    padding: 5px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.buy-now {
    background: #ff4d4d;
    color: white;
    margin-right: 3px;
}

.buy-now:hover {
    background: #cc0000;
}

.add-to-cart {
    background: #4caf50;
    color: white;
}

.add-to-cart:hover {
    background: #388e3c;
}
