.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    gap: 30px;
    background: linear-gradient(135deg, hsl(249, 10%, 44%), #504875);
    background-image: url('/Users/aasif/myData/javaCode/myProjects/Online-Book-Store/frontend/src/assets/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: 1160px 630px;
}

/* Left & Right Content */
.signup-info {
    width: 300px;
    text-align: center;
    color: #9ab55e;
    animation: fadeIn 0.5s ease-in-out;
}

.signup-info h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.signup-info p {
    font-size: 14px;
    opacity: 0.9;
}

.info-image {
    width: 80%;
    margin-top: 15px;
}
/* Signup Form */
.signup-container {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.308);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    text-align: center;
    color: #fff;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Signup Title */
.signup-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Form Group */
.form-group {
    text-align: left;
}

.form-label {
    font-size: 13px;
    font-weight: 500;
    color: #ffffffc3;
    margin-bottom: 3px;
    display: block;
}

/* Input Fields */
.form-input,
.form-select {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    background: rgba(250, 250, 250, 0.568);
    color: #fff;
    outline: none;
    transition: 0.3s ease-in-out;
}

.form-input:focus,
.form-select:focus {
    background: rgba(200, 210, 230, 0.5);
}

/* Error Message */
.error-message {
    color: #ff4d4d;
    font-size: 15px;
    margin-top: 5px;
}

/* Signup Button */
.signup-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: #ac57b7c5;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.signup-button:hover {
    background: #8d2b7d;
    scale: 1.01;
}

/* Form Footer */
.form-footer {
    margin-top: 10px;
    font-size: 12px;
}

.login-link {
    color: #020202bd;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.login-link:hover {
    color: #aa34aa;
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
    .signup-card {
        padding: 20px;
    }
    .signup-title {
        font-size: 22px;
    }
    .form-input, .signup-button {
        padding: 10px;
    }
}

/* Responsive */
@media (max-width: 850px) {
    .signup-page {
        flex-direction: column;
    }

    .signup-info {
        display: none;
    }
}

