@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
  /* background-color: #2f2323; */
  background: linear-gradient(135deg, #4f7880, #5649a8);
}