/* Body Container */
.body-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(249, 250, 251);
}

/* Search Bar */
.search-bar {
    margin: 30px 30px 30px 30px;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgb(246, 247, 248);
}

.search-bar input {
    color: #000000;
    background-color: #bdc4c482;
    width: 100%;
    max-width: 450px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.search-bar input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Pagination Controls */
.pagination-controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin: 30px 0;
}

.pagination-controls button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls span {
    font-size: 16px;
    font-weight: bold;
}

.pagination-controls select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.pagination-controls select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Book Sections */
.book-section {
    margin-bottom: 30px;
}

.book-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #1bc889;
    text-align: center;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: space-evenly;
    /* position: relative; */
}

/* Loading Spinner */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 18px;
    color: #007bff;
}

/* Error Message */
.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 18px;
    color: #dc3545;
}

/* No Books Message */
.no-books-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}